.text_cursiv {
    font-family: 'Yellowtail', sans-serif;
    font-style: normal;
    font-size: 2em;
    color: #7EB693;
}

.text_bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: #274C5B;
}

.thirdblock>.text_bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    color: #274C5B;
}

.text_basic {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 0.9em;
    color: #525C60;
    line-height: 32px;
    letter-spacing: 0.36px;
}

.text_basich {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.1em;
    color: #274C5B;
}

.text_basich2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em;
    color: #274C5B;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 1fr 15%;
    grid-template-columns: 1fr;
}

.header {
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 1fr 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 2%;
    justify-items: stretch;
    align-items: center;
}

.menu {
    justify-self: start;
    align-self: center;
    padding-left: 15%;
    color: rgba(39, 76, 91, 1);
}

.menu__link {
    color: rgba(39, 76, 91, 1);
    text-decoration: none;
    margin: 10px;
}

.menu__link:hover {
    color: rgba(126, 182, 147, 1);
}

.cart {
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid rgba(212, 212, 212, 1);
    border-radius: 33%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.main {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-areas:
    "fb fb"
    "sb1 sb2"
    "thb thb";
    justify-content: stretch;
    justify-items: center;
}

.firstblock {
    grid-area: fb;
    background-image: url(../images/backcround1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 15% 0;
}

.firstblock__text>p {
margin: 2% 2%;
}

.firstblock__button {
    border-radius: 15px;
    background-color: #EFD372;
    border: none;
    width: fit-content;
    padding: 15px;
    margin-left: 2%;
}

.secondblog__image1 {
    grid-area: sb1;
    width: 90%;
    margin: 15% 2%;
}
.secondblog__image2 {
    grid-area: sb2;
    width: 90%;
    margin: 15% 2%;
}

.thirdblock {
    grid-area: thb ;
    background-image: url(../images/imagepage3.png);
    background-repeat: no-repeat;
    width: 100%;
}

.thirdblock__padding{
    padding-left: 50%;
}

.thirdblock__text{
    display: grid;
    grid-template-areas: 
    "img texth texth texth texth texth texth"
    "img text text text text text text"
    "img text text text text text text";
    align-items: center;
    align-content: stretch;
    /* justify-content: stretch; */
}

.thirdblock__text__h {
    grid-area: texth;
    margin: 0;
}

.thirdblock__text__basic {
    grid-area: text;
    margin: 0%;
}

.thirdblock__text__img {
    grid-area: img;
    width: 100%;
}

.footer {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 20% 7%;
    margin: 10% 2%;
}

.column1 {
    grid-area: 1/1/2/2;
    justify-self: end;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.column2 {
    grid-area: 1/2/2/3;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    padding: 0 40px;
    text-align: center;
}

.column3 {
    grid-area: 1/3/2/4;
    justify-self: start;
    padding-left: 10px;
}

.footer__bottom {
    grid-area: 3/1/4/4;
    text-align: center;
    border-top: 1px solid #D5D5D5; 
    padding: 15px;
}